<!DOCTYPE html>
<html>
<head>
<title>百闻一荐</title>
<meta name="baidu_union_verify" content="d98a740e1480fdd663c524b7e4c0b3be">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="keywords" content="百闻一荐">
<meta charset="UTF-8">
<meta name="description"
	content="百闻一荐">
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/css/base.css" rel="stylesheet">
</head>

<body ng-app="indexApp">
	<div ng-controller="indexCtrl" class="comment-wrap">
	<!-- 标志 -->
		<div class="comment-top-fixed comment-title-top" style="background-color:#2b1152;">
		<span class="comment-title-center aiduFont">百闻一荐ABV</span>
		</div>
	<!-- 标志end -->
	<!-- 导航 -->
		<div class="row text-center comment-list-item comment-top-fixed" style="top:50px !important;" id="topNav">
			
			<a class="col-xs-2 col-xs-offset-1" href="#" ng-click="list('社会')">
				<div>社会</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('美图')">
				<div>美图</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('体育')">
				<div>体育</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('奇闻')">
				<div>奇闻</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('段子')">
				<div>段子</div>
			</a>
<!-- 			<a class="col-xs-2 " href="#" ng-click="list('社会')">
				<div>社会</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('美图')">
				<div>美图</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('体育')">
				<div>体育</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('奇闻')">
				<div>奇闻</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('段子')">
				<div>段子</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('微投')">
				<div>微投</div>
			</a> -->
			
		</div>
		<!-- 导航end -->
		<!-- 新闻列表 -->
		<div class='loadAnimation'style="margin-top:105px !important;z-index:99999;" ><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
		<div style="margin-top:105px !important;display:none" id="loadAnimationBody">
		<!-- 第一列表 -->
		<div class="listGroup list-group media comment-list-item" ng-repeat="news in newsList" ng-if="!$index" ng-click="newsDetails(news.type,news.news_id)">
			
			 <div class="media-center">
				<a href="#" > <img style="width:104%;height:200px;margin:-25px -2%;" class="media-object  comment-list-item-img "
					ng-src="{{news.img_address||newsInit.img_address}}" >
					<span class="comment-hot-radius-icon">热点</span>
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="media-heading" ></div>
				<div class="pull-left">
					<div class="comment-right-body-title" >
						<span style="overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;" ng-bind="news.title||newsInit.title"></span>
					</div>
					<div class="text-muted" style="color:#bfbebe;font-size:12px;">
					<span style="float: left;" class="newsType"  ng-bind="news.type||newsInit.type"></span>
					<span style="float: left;line-height:14px;margin:0 5px;">|</span>
					<span   ng-bind="news.time | dateDiff"></span>
					</div>
				</div>
			</div> 
		</div>
		<!-- 第一列表end -->
		<!-- 第二列表 -->
		<div class="listGroup list-group media comment-list-item" ng-repeat="news in newsList" on-finish-render-filters ng-if="$index" ng-click="newsDetails(news.type,news.news_id)">
			<div class="media-left">
				<a href="#" style="padding:5px 0 !important;">
				 <img class="media-object  comment-list-item-img "
					ng-src="{{news.img_address||newsInit.img_address}}" >
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="media-heading" ></div>
				<div class="pull-left">
					<div class="comment-right-body-title">
						<span style="overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;" ng-bind="news.title||newsInit.title"></span>
					</div>
					<div class="text-muted" style="color:#bfbebe;font-size:12px;">
					<span style="float: left;" class="newsType"  ng-bind="news.type||newsInit.type"></span>
					<span style="float: left;line-height:14px;margin:0 5px;">|</span>
					<span   ng-bind="news.time | dateDiff"></span>
					</div>
				</div>
			</div>
		</div>
		<!-- 第二列表end -->
		<!-- 底部end -->
		<div class="comment-bottom" ng-if="noMore">Copyright 2015 itcast Inc,All rights reserved.</div>
		<!--  底部end -->
		</div>
		<!-- 新闻列表end -->
		<!-- 加载更多end -->
		<!-- <a class="btn btn-default btn-block text-center" id="addMore" ng-click="addMore()">
		<div>点击加载更多》</div>
		</a> -->
		<!--  加载更多end -->
		
	</div>
		<!-- cnzz -->
		<div style="display:none;">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260079475'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260079475' type='text/javascript'%3E%3C/script%3E"));</script>
		</div>
	<script src="/resources/js/jquery2.1.js"></script>
	<script src="/resources/js/bootstrap3.2.0.js"></script>
	<script src="/resources/js/angularjs.min.1.5.7.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/resources/js/base.js"></script>
	<script>
		/*破外链接
		function showImg(element, url ,w,h  ) {
		        var frameid = 'frameimg' + Math.random();
		        window.img = '<img id="img" src=\''+url+'?'+Math.random()+'\'  width='+w+'  height='+h+' /><script>window.onload = function() { parent.document.getElementById(\''+frameid+'\').height =\''+h+'\'; }<'+'/script>';
		        element.replaceWith('<iframe id="'+frameid+'" src="javascript:parent.img;" frameBorder="0" scrolling="no" width='+w+'></iframe>');
		}
		function wailian(isTop){
			$("img").each(function(index){
				 var thissrc=$(this).attr("src");
				if(isTop){
					if(index==0){
				 console.log("a")
						 showImg($(this),thissrc,"97%","180px");
						}else{
				 console.log("b")
				 showImg($(this),thissrc,"100px","76px");
						}
				}else{
				 console.log("c")
				 showImg($(this),thissrc,"100px","76px");
				}
			});
		} */
	$(function(){
	//获取data-src
	$("img").each(function(index){
		if($(this).attr("data-src")){
			$(this).attr("src",$(this).attr("data-src"));
		}
	});
	//$("#loadAnimationBody").css("display","none");
	});
    	var indexApp=angular.module('indexApp',[]);
    	  indexApp.filter("dateDiff",function(){
                return function(dateTimeStamp){
                    return myUtils.getDateDiff(dateTimeStamp);
                }
            });
            indexApp.directive('onFinishRenderFilters', function() {
					return {
					restrict: 'A',
					link: function(scope, element, attr) {
					if (scope.$last === true) {
					$("#loadAnimationBody").show();
					$(".loadAnimation").hide();
					scope.$emit('ngRepeatFinished');
					}
					}
					};
					});
					
    	indexApp.controller('indexCtrl',function($scope){
    	
    	//$scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
		//render完成之后要执行的方法
		//$("#loadAnimationBody").show();
		//$(".loadAnimation").hide();
		//});
    		$("#topNav a").each(function(){
    			//不存在，就展示首页
    			if(myUtils.GetQueryString("type")==null){
    			$("#topNav a:first-child").addClass("nav-active");
    			}
    			//存在哪个展示哪个
    			if(myUtils.GetQueryString("type")==$(this).children().text()){
    				console.log(myUtils.GetQueryString("type"))
    				$(this).addClass("nav-active");
    			}
    			$(this).on("click",function(){
    				var type=$(this).text().trim();
    				$("#topNav a").removeClass("nav-active")
    				$(this).addClass("nav-active");
    				//点击哪个，展示哪个,是历史记录的重要点
    				location.href=location.protocol+"//"+location.host+"/man/index?type="+type;
    			});
    			
    		});
    		function initData(a){
    			$.ajax({  
    		          type : "get",  
    		          url : "/news/list?pageNum="+a.pageNum+"&pageSize="+a.pageSize+"&type="+a.type+"&orderName="+a.orderName+"&orderWay="+a.orderWay+"",  
    		          async : false,  
    		          success : function(data){
    		        	  if(data==''){
    		        		  $("#addMore").hide();
    		        		  return ;
    		        	  }else{
    		        		  $("#addMore").show();
    		        		  
    		        	  }
    		        	  if(a.pageNum>1){
    		        		  for (var int = 0; int < data.length; int++) {
    		        			$scope.newsList.push(data[int]); 
							}
    		        	  }else{
    		        	  $scope.newsList=data; 
    		        		  
    		        	  } 
    		        	  myUtils.myPrevToast("加载完成", null, "remove");
    		          }  
    		          });  
    		}
    		$scope.noMore=false;//false还有，true没有更多
    		$scope.pageNum=1;//第多少个
    		$scope.pageSize=10;//每页个数
    		$scope.type=myUtils.GetQueryString("type")||"社会";//初始化类别
    			initData({
    			pageNum:$scope.pageNum,
    			pageSize:$scope.pageSize,
    			type:$scope.type,
    			orderName:"time",
    			orderWay:"desc"
    			});
    	    //选择频道
    		$scope.list=function(type){
    		$scope.pageNum=1;
    		$scope.pageSize=10;
    		$scope.type=type;
    			myUtils.myPrevToast("加载中...", function(){
    			initData({
        			pageNum:$scope.pageNum,
        			pageSize:$scope.pageSize,
        			type:$scope.type,
        			orderName:"time",
        			orderWay:"desc"
        			});
    			}, "add");
    			
    		};
    			//滚动刷新
    		function onReachBottom(){
    			$scope.pageNum=$scope.pageNum+$scope.pageSize;
    			$scope.pageSize=$scope.pageSize;
    			myUtils.myFootLoadingToast("relative",null,function(){
    			$.ajax({  
  		          type : "get",
  		          timeout: 3000,
  		          async : false,
  		          url : "/news/list?pageNum="+$scope.pageNum+"&pageSize="+$scope.pageSize+"&type="+$scope.type+"&orderName=time&orderWay=desc",  
  		          complete: function (xhr) {
                  myUtils.myFootLoadingToast("relative",null,null,"remove");
  				if(xhr.responseJSON&&xhr.responseJSON.code==40000){
                  myUtils.myLoadingToast("请求失败！请检查！");
                	return ;
         		 }
  				},
  		          success : function(data){
  		      		     myUtils.myFootLoadingToast("relative",null,null,"remove");
  		        	 if(data.length<=0){
  		        	 $scope.noMore=true;
  		        	 $scope.$apply();
  		        	      return;
  		        	    }
  		        	    	$scope.noMore=false;
  		      		        $scope.newsList=$scope.newsList.concat(data);
  		      		        $scope.$apply();
  		      		         myUtils.myPrevToast("加载完成", null, "remove");
  		          }  
  		          });
    			},"add");
  		}
    		$(window).scroll(function(){
        		console.log($scope.noMore);
        		if(!navigator.onLine){
        		myUtils.myLoadingToast("请检查网络！");
        		return;
        		}
        		if(navigator.onLine && $scope.noMore==false && myUtils.isScrollBottom(document)){
        			onReachBottom();
        		}
        			
        		});
    		
    		 /* $scope.addMore=function(){
    			$("#addMore").children().text("正在加载中...");
    			var pageNum=$(".listGroup").size()+1;
    			var type=$(".nav-active div").text().trim();
    			console.log(pageNum)
    			console.log(type)
    			initData({
        			pageNum:pageNum,
        			pageSize:10,
        			type:type,
        			orderName:"time",
        			orderWay:"desc"
        			});
    			$("#addMore").children().text("点击加载更多》");
    		};  */
    		//跳转页面
    		$scope.newsDetails=function(type,news_id){
    			location.replace("/man/news_details?type="+type+"&news_id="+news_id);
    			console.log("/man/news_details?type="+type+"&news_id="+news_id)
    		};
    		//新闻初始化
    		$scope.newsInit={
    				news_id:6160,
    				img_address:'http://t.kejixun.com/uploadfile/2016/0804/20160804024053197.jpg',
        			title:'手机支付流行，小偷开始猖獗',
        			type:'奇闻',
        			time:'2016-08-04 14:40:53',
        			content:">· 对商家而言，很难判别顾客究竟是遗漏扫码，还是不会扫码；</p>"
        				+" <p>· 数据显示，采用自助扫码技术的商家，失窃率比同业平均水平高出122%；</p>"
        				  +"<p>· 商家频繁地捉到小偷，并且小偷会承认犯罪。</p>"
        				  +"<p>Hopkins表示：“许多商家开始认识到了这些问题，开始采取措施来提醒相关风险，并确保购物篮中所有商品都被扫码且打印在收据上。”</p>"
        				  +" <p>“零售业的所有创新都是商业选择——处于购买体验更愉悦与商家利润更丰厚的考量。但同时也可能带来一些消极结果，例如失窃率增加。”</p>"
        				  +"<p>该研究显示，商家的一些选择或许会招致一些出乎预料的行为和结果。</p> "
        				 +"</div></div>"
        			};
    		//广告代码
    		//$("body").append("<div><img style='width:100%;height:10%;position:fixed;left:0;bottom:0'  src='/resources/img/splash.jpg'></img></div>");
    		$.get("/adsense/list/0",function(data){
    			if(data&&data[0].content){    				
    			console.log(data)
    			myUtils.executeJS(data[0].content);
    			}
  
    		});

    	});
    </script>
</body>
</html>
